@charset "UTF-8";
:root {
  --text-color: #7f7f7f;
  --btn-color: #3f6ac1;
  --light-btn-color: #00baff;
}

html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

/* ヘッダー */

header {
  position: inherit;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.8;
}

header .container-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

/* ヘッダーB：ナビゲーションメニュー */

.headA ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.headA a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.headA a:hover {
  background-color: rgba(255, 250, 250, 0.4);
}

.headA {
  background: black;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  height: 1000px;
  text-align: center;
  display: none;
}

.headB {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 28px;
  cursor: pointer;
}

.headB:hover {
  opacity: 0.3;
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
}

hr {
  color: var(--btn-color);
  border: 1px solid;
  left: 0;
  right: 0;
}

b {
  position: absolute;
  color: var(--text-color);
  font-size: 1.6em;
}

form {
  text-align: right;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

td a:visited{
  color: #0000ee;
}

td a:hover{
  color: #7777e6;
}

.list-name {
  font-weight:bold;
}


.pagenum {
  display: inline-block;
  width: 25px;
  border: 1px solid transparent;
  color: var(--btn-color);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.pagenum:hover {
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.pagenum.current {
  color: var(--text-color);
  text-decoration: none;
}

.move_btn {
  color: var(--btn-color);
}

.disabled {
  color: silver;
}

.paging_area {
  text-align: center;
}

.admin-all {
  margin-top: 3.5%;
  padding-left: 15%;
  padding-right: 15%;
}

.admin-body {
  padding-left: 15%;
  padding-right: 15%;
}

.admin-input {
  position: absolute;
}

.admin-all-input {
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline-flex;
  position: relative;
  width: 100%;
}

.search-btn {
  background-color: var(--text-color);
  width: 82px;
  height: 34px;
  margin-left: -5px;
}

.member-btn {
  background-color: var(--btn-color);
  width: 82px;
  height: 34px;
}

.member-div {
  position: absolute;
  float: right;
  right: 0;
}

.download-btn {
  background-color: var(--light-btn-color);
  width: 82px;
  height: 34px;
}

.download-ready-btn {
  background-color: var(--light-btn-color);
  height: 34px;
  width: 82px;
}

.small-cell {
  width: 9%;
}

select {
　font-size: 18px;
  width: 26%;
  height: 34px;
  vertical-align:middle;
}

input {
  height: 28px;
  width: 250px;
  vertical-align:middle;
}

button {
  color: white;
  font-size: 1em;
  border: 0px;
  vertical-align:middle;
}

table {
  color: black;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 3%;
}

td, th {
  width: 12%;
  height: 30px;
  border-bottom: 1px solid var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  margin-bottom: 5%;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}

/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 740px) {
  .admin-all {
    padding-left: 0;
    padding-right: 0;
  }
  .admin-body {
    padding-left: 0;
    padding-right: 0;
  }
  .admin-input {
    position: static;
    display: flex;
    width: 100%;
    margin-left: 4%;
  }
  .admin-all-input {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .member-div {
    position: static;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  .member-btn {
    background-color: var(--text-color);
  }
  .search-btn {
    margin-left: 0px;
  }
  .download-btn, .download-ready-btn {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .admin-top {
    margin-top: 20px;
    text-align: center;
  }
  .list-name {
    font-size: 0.8em;
  }
  form {
    text-align: center;
    margin: 0;
  }
  select {
    width: 40%;
  }
  b {
    position: static;
    color: var(--text-color);
    font-size: 1.4em;
  }
  td {
    font-size: 1em;
  }
  input {
    height: 28px;
    width: 50%;
  }
  button {
    color: white;
    font-size: 0.8em;
    border: 0px;
  }
  hr {
    margin: 0;
  }
}
