html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

@charset "UTF-8";
:root {
  --mainText-color: #ffffff;
  --btn-color: #3f6ac1;
  --td-color:#ffffff;
  --light-btn-color: #00baff;
  --box-color:#434446;
  --th-color:#ffffff;
  --none--Input--List:#bdbdbd;
  --field-color:gray;
  --error:red;
}

* {
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
}

.logIn {
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url(../../image/pts/001.png);
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.logInBox {
  text-align: center;
  padding-top: 8%;
}

.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  z-index: 3;
}

.logInBox h1 {
  text-align: center;
  margin-bottom: 20px;
  color:var(--mainText-color);
}

.logInBox .ul {
  /* text-align: center; */
  padding: 0;
  width: 77%;
  overflow: auto;
  background-color: var(--box-color);
  background-color: rgba( 67, 68, 70, 0.8);
  padding-bottom: 40px;

}

.logInBox .ul .li:nth-of-type(3) input {
  width: 90%;
  height: 39px;
  text-indent: 10px;
  border:0;
}


#button {
  width: 100%;
  height: 39px;
  font-size: 25px;
  float: right;

}

#button input {
  width: 40%;
  height: 100%;
  background-color: var(--btn-color);
  color: white;
  border: none;
  font-size:14px;
  padding:0;
  float:right;
}

#email {
font-size: 15px;
margin-bottom: 20px;
}

#infomation {
margin:30px 20px;
color:var(--mainText-color);

}

.sent {
display:none;
}

@media(min-width:376px) {
.logInBox {
  max-width: 470px;
}
.logInBox h1 {
  font-size: 30px;
}

#button {
  float: right;
  margin-right: 36px;
  width:100%;
}

#send, #backLogin{
  height: 100%;
  width: 80%;
  border: none;
}

#email {
  font-size: 15px;
}

.logInBox .ul .li:nth-of-type(3) input {
  width: 80%;
  height: 39px;
  margin-bottom: 10px;
  text-indent: 10px;
    font-size: 15px;
}

}
